.mapcanvas
  z-index: 1
  width: 100%
  position: absolute
  top: 0
  left: 0
  &-container
    margin: 40px auto
    position: relative
  &-map
    width: 100%
    position: relative
    user-select: none
    text-align: center
  &-canvas
    user-select: none
    display: block
    margin: 0 auto
  &-draw-mode
    cursor: crosshair
    .seat-blockArea
      cursor: not-allowed
  &-selection-mode
    .seat
      cursor: cell

.seat
  cursor: pointer
  opacity: .8
  transition: opacity .2s ease-out
  &:hover,
  &.seat--active
    opacity: 1
  &-tooltip
    cursor: default
