.iziModal
  left: auto
  right: 40px
.iziModal.isAttachedTop
  top: 70px

.iziModal
  .modal
    &-btn-control
      width: 100%
    &-form-control
      padding-left: 0
      box-shadow: none
      border: none
      border-bottom: 1px solid transparent
      transition: border-color .3s ease-out
      border-radius: 0
      &:focus
        border-color: black
    &-input-value
      margin-bottom: 0
      padding-top: 7px

.modal
  &-employee-list
    position: relative
    top: 0
    width: 100%
    background-color: white
    >li
      padding: 6px 12px 6px 5px
      cursor: pointer
      transition: background-color .3s ease-out
      &:hover
        background-color: rgba(0,0,0,.1)
    &-container
      position: relative
