.navbar
  background: $themeColor
  border: none
  &-toggle
    border-color: black
    .icon-bar
      background-color: black
  a
    color: black
  &-brand-logo
    padding: 10px 10px 10px 15px
    >img
      height: 100%

.nav > li > a
  &:hover,
  &:focus
    background-color: $themeColor-light
